<%= form_with(model: park, local: true) do |form| %>
  <% if park.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(park.errors.count, "error") %> prohibited this park from being saved:</h2>

      <ul>
      <% park.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :park_name %>
  </div>

  <div class="field">
    <%= form.label :decription %>
    <%= form.text_field :decription, id: :park_decription %>
  </div>

  <div class="field">
    <%= form.label :picture %>
    <%= form.text_field :picture, id: :park_picture %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
