<h1>Parks#edit</h1>
<p>Find me in app/views/parks/edit.html.erb</p>


<%= form_for(@park) do |p| %>
	<%= p.label :name %>
	<%= p.text_area :name %>

	<%= p.label :description %>
	<%= p.text_area :description %>

	<%= p.label :picture %>
	<%= p.text_area :picture %>

	<%= p.submit %>
<% end %>

<%= link_to('Back to Home', parks_path) %>