<h1 class="header">Park Edit</h1>


<%= form_for(@park) do |p| %>
	<%= p.label :name, class:"header" %></br>
	<%= p.text_area :name %></br>

	<%= p.label :description, class:"header" %></br>
	<%= p.text_area :description %></br>

	<%= p.label :picture, class:"header" %></br>
	<%= p.text_area :picture %></br>

	<%= p.submit class:"btn btn-primary"%>
<% end %>