<h1>Parks#edit</h1>
<p>Find me in app/views/parks/edit.html.erb</p>

<h2>Edit Park</h2>

<%= form_for @park do |p| %>
	<div>
		<%= p.label :name %>
		<%= p.text_field :name %> 
	</div>
	<div>
		<%= p.label :description %>
		<%= p.text_area :description %>
	</div>
	<div>
		<%= p.label :picture %>
		<%= p.file_field :picture %>
	</div>
	<%= p.submit %>

<% end %>

<%= link_to "Back to all", "/parks" %>

