<h1>Edit Park</h1>

<%= form_for @park do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>

  <%= form.label :description %>
  <%= form.text_area :description %>

  <%= form.label :picture %>
  <%= form.text_field :picture %>

  <%= form.submit %>

<% end %>