<%= link_to "Edit Park", edit_park_path(@park), class: 'btn btn-default' %>

<%= form_for @park do |t| %>
  <div>
  <%= t.label :name %>
  <%= t.text_field :name %>
  </div>

  <div>
  <%= t.label :description %>
  <%= t.text_area :description %>
  </div>

  <%= t.submit %>
<% end %>