<h1>Big Ol' Sloppy List of Parks</h1>

<ul>
  <% @parks.each do |park| %>
    <a href="/parks/<%= park.id %>">
      <h3><%= park.name %> </h3>
    </a>
    <p><%= park.description %></p>
    <img src="<% park.picture %>">

    <a href="/parks/<%= park.id %>/edit">
      <h5>edit<%= park.name %></h5>
    </a>

    
    <br>
  <% end %>
</ul>
