<div class="index">
<nav>
  <button><%= link_to('Ranger List', rangers_path) %></button>
</nav>
<h1>United States National Parks</h1>

<button><%= link_to('Add a Park', new_park_path)%></button>
<% @parks.each do |park| %>
  <h4><%= link_to(park.name, park_path(park))%></h4>
  <p><%= park.description %></p>
  <p><%= park.picture %></p>
<% end %>
</div>