<h1>Enter a new Park</h1>

<div class="well">
  <%= bootstrap_form_for(@parks) do |p| %>
    <%= p.text_field :name %>

    <%= p.collection_check_boxes(:ranger_ids, @rangers, :id, :name) %>

    <%= p.text_area :description %>
    <%= p.submit class: "btn btn-primary"%>

    <%= link_to('Back Home', parks_path) %>

  <% end %>
</div>