<h1>Add a Park</h1>

<%= form_for @park do |t| %>
	<div>
		<%= t.label :name %>
		<%= t.text_field :name %>
	</div>
	<div>
		<%= t.label :description %>
		<%= t.text_area :description %>
	</div>
	<div>
		<%= t.label :picture %>
		<%= t.text_field :picture %>
	</div>
	<%= t.submit %>
<% end %>