<h1>Create a new park</h1>
<!-- <p>Find me in app/views/parks/new.html.erb</p> -->

<div class="logoDiv">
  <img class="logo"src="/NPS.png">
</div>

<%= form_for(@park) do |p| %>
  <%= p.label :name %>
  <%= p.text_field :name %>

  <%= p.label :description %>
  <%= p.text_area :description %>

  <%= p.collection_check_boxes(:ranger_ids, @rangers, :id , :name) %>

  <%= p.label :picture_URL %>
  <%= p.text_field :picture %>

  <%= p.submit %>

<div class="nav">
  <h3><%= link_to('Back Home', parks_path) %></h3>
</div>

<% end %>