<h1>Add a new park</h1>

<%= form_for @park do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>

  <br>

  <%= form.label :description %>
  <%= form.text_area :description %>

  <br>

  <%= form.label :picture %>
  <%= form.text_field :picture %>

  <br>

  <%= form.submit %>

<% end %>
