
<h2>Add a new Park</h2>

<%= form_for @park do |p| %>
  <div>
    <%= p.label :name %>
    <%= p.text_field :name %>    
  </div>
  <div>
    <%= p.label :description %>
    <%= p.text_field :description %>
  </div>
  <div>
    <%= p.label :picture %>
    <%= p.text_field :picture %>
  </div>

  <%= p.collection_check_boxes :ranger_ids, Ranger.all, :id, :name %>
  
  <%= p.submit %>

<% end %>

<%= link_to "Back to All Parks", parks_path %>