<h1>New Park</h1>
<%= form_for @park do |form| %>
  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, :class => "form-control" %>
    <br>
    <%= form.label :description %>
    <%= form.text_area :description, :class => "form-control" %>
    <br>
    <%= form.label :picture %>
    <%= form.text_field :picture, :class => "form-control" %>
    <br>
    <%= form.submit :class => 'btn btn-primary' %>
  </div>
<% end %>
