<h1>Parks#new</h1>
<p>Find me in app/views/parks/new.html.erb</p>

<h1>Add New Park</h1>

<%= form_for @park do |p| %>

  <p>
  <%= p.label :name %>
  <%= p.text_field :name %>
  </p>

  <p>
  <%= p.label :description %>
  <%= p.text_area :description %>
  </p>

  <p>
  <%= p.label :picture %>
  <%= p.text_field :picture %>
  </p>

  <%= p.submit %>
<% end %>
