<h1>Parks#new</h1>
<p>Find me in app/views/parks/new.html.erb</p>



<h1> NEW PARK </h1>

<%= form_for @park do |form| %> 
  <%= form.label :name %>
  <%= form.text_field :name %>
  <br>
  <%= form.label :description %>
  <%= form.text_area :description %>
  <br>
  <%= form.label :picture %>
  <%= form.text_area :picture %>


  <%= form.submit %>

<% end %>