<div class="logoDiv">
  <img class="logo"src="/NPS.png">
</div>

<h1><%= @park.name %></h1>
<h2><%= @park.description %></h2>
<img src="<%= @park.picture %>">

<div class="nav">
  <h3><%= link_to("Delete", park_path, method: :delete) %></h3>
  <h3><%= link_to('Edit Park', edit_park_path) %></h3>
  <h3><%= link_to('Back Home', parks_path) %></h3>
</div>