<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @park.name %>
</p>

<p>
  <strong>Decription:</strong>
  <%= @park.decription %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @park.picture %>
</p>

<%= link_to 'Edit', edit_park_path(@park) %> |
<%= link_to 'Back', parks_path %>
