<nav>
  <button><%= link_to('Park List', parks_path) %></button>
</nav>
<div class="park">
<h1><%= @park.name %></h1>
<div class="picture">
<p><%= @park.description %></p>
<p><%= image_tag @park.picture, width: "100%" %></p>
<ul><% @park.rangers.each do |ranger| %>
  <li><%=ranger.name%></li>
  <% end %>
</ul>
</div>
<button><%= link_to('Edit', edit_park_path) %></button>
<button><%= link_to('Delete', @park, method: :delete) %></button>
</div>