<h2>Edit <%= @ranger.name %></h2>

<%= form_for @ranger do |r| %>
	<div>
		<%= r.label :name %>
		<%= r.text_field :name %> 
	</div>
	<%= r.submit %>

<% end %>

<%= link_to "Back to all rangers", "/rangers" %>

