<h1>Add A Park Ranger</h1>

<%= form_for @ranger do |r| %>
	<div>
		<%= r.label :name %>
		<%= r.text_field :name %>
	</div>
	<div>
		<%= r.collection_check_boxes :park_ids, Park.all, :id, :parkname %>
	</div>
	<%= r.submit %>
<% end %>
<hr>
<a href="/rangers/index"><div>See All Rangers</div></a>