<h1>Add New Park</h1>

 <%= form_for @park do |p| %>
     <%= p.label :name %>
     <%= p.text_field :name %>
     <br>
     <%= p.label :description %>
     <%= p.text_field :description %>
     <br>
     <%= p.submit %>
 <% end %>
